header {
  width: 100%;
  height: 60px;
  background-color: #23A870;
  color: inherit;
  text-align: center;
}

header h1 {
  font-size: 36px;
  padding-top: 12px;
  background-color: inherit;
  color: white;
  font-weight: bold;
}

body {
  background: #d1d1d1;
  color: inherit;
  font-family: sans-serif;
}

.oculto {
  display: none;
}

.main {
  background-image: url("../images/fondo-poker.png");
  width: 960px;
  min-height: 600px;
  background-repeat: no-repeat;
  margin: auto;
  background-size: contain;
}

#divPantallaInicial{
  width: 600px;
  min-height: 500px;
  top: 80px;
  margin: auto;
  background-color: #20CC84;
  color: white;
  padding: 10px 0px;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
}
#divPantallaInicial p{
  color: white;
  background-color: inherit;
  display: block;
  padding: 10px 50px;
}

.divIngresoDeDatos{
  width: 80%;
  background-color: #359F6C;
  color: white;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}
.divIngresoDeDatos h3{
  font-size: 20px;
  font-weight: bold;
}
.divIngresoDeDatos label{
  margin-top: 5px;
  padding: 4px;
  display: inline-block;
}
.divIngresoDeDatos input{
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: #0A301E;
}
.divIngresoDeDatos input[type="button"],input[type="submit"]{
  margin-top: 5px;
  padding: 6px;
}
.divIngresoDeDatos input[type="button"]:hover,input[type="submit"]:hover{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}
.bordeRojo{
  border: 1px solid red;
}
.bordeNormal{
  border: none;
}
