header {
  width: 100%;
  height: 60px;
  background-color: #23A870;
  color: inherit;
  text-align: center;
}

header h1 {
  font-size: 36px;
  padding-top: 12px;
  background-color: inherit;
  color: white;
  font-weight: bold;
}

body {
  background: #d1d1d1;
  color: inherit;
  font-family: sans-serif;
}

.oculto {
  display: none;
}


.main {
  background-image: url("../images/fondo-poker.png");
  position: relative;
  top: 50px;
  width: 800px;
  min-height: 600px;
  background-repeat: no-repeat;
  margin: auto;
  background-size: contain;
  position: relative;
  top:70px;
}

#divPantallaInicial{
  width: 600px;
  min-height: 500px;
  top: 80px;
  margin: auto;
  background-color: #20CC84;
  color: white;
  padding: 10px 0px;
  box-shadow: 0px 0px 100px rgba(0,0,0,0.5);
}
#divPantallaInicial p{
  color: white;
  background-color: inherit;
  display: block;
  padding: 10px 50px;
}

.divIngresoDeDatos{
  width: 80%;
  background-color: #359F6C;
  color: white;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}
.divIngresoDeDatos h3{
  font-size: 20px;
  font-weight: bold;
}
.divIngresoDeDatos label{
  margin-top: 5px;
  padding: 4px;
  display: inline-block;
}
.divIngresoDeDatos input{
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
  color: #0A301E;
}
.divIngresoDeDatos input[type="button"],input[type="submit"]{
  margin-top: 5px;
  padding: 6px;
}
.divIngresoDeDatos input[type="button"]:hover,input[type="submit"]:hover{
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  cursor: pointer;
}
.bordeNormal{
  border: none;
}
.enabled{
opacity: 1;    
}
.disabled{
    
    opacity: 0.2;    
}



#divPantallaInicial > p{
  text-align: center;
  border-bottom: 1px solid darkgreen;
  border-top: 1px solid darkgreen;
  background-color: rgba( 128, 150, 138 ,0.5);
}

/*DIVS JUGADORES*/

.divJugador{
    position: absolute;
    background-color: rgba(109, 208, 111,0.9);
    width: 230px;
    height: 65px;
    border: 2px solid rgba(109, 174, 136,0.7);
    border-radius: 8px;
    margin: 0;
}
.divImagenJugador{
    border-radius: 50%; 
    background-image: url("../images/icono-jugador.png");
    background-size: contain;
    height: 65px;
    width: 65px;
    display: inline-block;
    margin-left: 10px;
}
.divInformacionJugador{
    display: inline-block;
    position: relative;
    top: -18px;
    left: 15px;
    font-size: 16px;
    
}
.divInformacionJugador h6{
    padding-bottom: 6px;
    margin-right: 50px;
    
}
.divCarta1, .divCarta2{
    height: 100px;
    float: left;
    width: 60px;
    position: relative;
    top: -7px;
    background-image: url("../images/1.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

/*POSICIONAMIENTO DE DIVS*/

#div3, #div8{
    left: 270px;
}
#div8{
    top:370px;
}#div3{
    top:-30px;
}
#div2{
    top:-30px;
}
#div4{
    top:-30px;
    left: 550px;
}
#div5{
    top: 100px;
    left: 700px;
}
#div6{
    top: 250px;
    left: 700px;
}
#div7{
    top: 370px;
    left: 550px;
}
#div9{
    top: 370px;
    
}
#div1{
    top: 100px;
    left: -150px;
}
#div10{
    top: 250px;
    left: -150px;
}






